.body {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: fit-content;
}

.container_class {
  overflow: hidden;
  display: flex;
  position: relative;
  vertical-align: center;
  z-index: 0;
}
.body_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* carousel_auto */
.body_auto {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: fit-content;
}
.container_class_auto {
  overflow: hidden;
  display: flex;
  position: relative;
  vertical-align: center;
  border-bottom-left-radius: 35%;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  margin-top: -60px;
}

@media screen and (max-width: 800px) {
  .right_auto {
    display: none;
  }
  .left_auto {
    display: none;
  }
}
