@import "tailwindcss";

.tiptap {
  border: 1px solid black;
  width: 50%;
  padding: 5px 10px 10px 10px;
}
body {
  font-size: 20px;
}
.flex button {
  cursor: pointer;
}
.tiptap a {
  color: blue;
  text-decoration: underline;
}
.tiptap p {
  margin-bottom: 20px;
}
.tiptap h1 {
  font-size: 40px;
}
.none {
  border: none !important;
}
.cursor-pointer:hover {
  transform: scale(1.1);
}
.burger_line_color {
  color: white !important;
}
.cursor-pointer-not-big {
  cursor: pointer;
}
.cursor-none {
  pointer-events: none;
}
.light {
  color: white;
}
.dark {
  color: black;
}
.page_title {
  font-size: 40px;
}
.page_title::first-letter {
  text-transform: uppercase;
}
.tiptap {
  width: 100%;
}
.tiptap ul.list-disc li::marker {
  display: inline !important;
}
.pointer-events-none {
  pointer-events: none !important;
}
.bg_img_group img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-fiori {
  position: relative; /* Nécessaire pour que ::after se positionne par rapport à lui */
}
.text-fiori::before {
  content: "";
  margin-top: 0px;
  width: 50px;
  height: 25px;
  border-left: 3px solid rgb(159, 159, 159);
  border-top: 3px solid rgb(159, 159, 159);
}
.text-fiori::after {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 3px solid rgb(159, 159, 159);
  border-bottom: 3px solid rgb(159, 159, 159);
}
.buttons {
  overflow: hidden;
}
.buttons::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 0.8s;
  transform: translateX(-100%) rotate(45deg);

  background-color: white;
}
.buttons:hover::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(100%) rotate(45deg);
  z-index: 0;
}

.buttons:hover {
  color: rgb(229, 227, 227) !important;
  border: 3px solid white;
  font-weight: bold;
}
.full_pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  .smaller h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 700px) {
  .padding_footer {
    padding-bottom: 25px;
  }
  .text-fiori::before {
    content: "";
    margin-top: 0px;
    width: 25px;
    height: 12px;
    border-left: 3px solid rgb(159, 159, 159);
    border-top: 3px solid rgb(159, 159, 159);
  }
  .text-fiori::after {
    content: "";
    width: 25px;
    height: 12px;
    position: absolute;
    bottom: 0;
    right: 0;

    border-right: 3px solid rgb(159, 159, 159);
    border-bottom: 3px solid rgb(159, 159, 159);
  }
}

@layer utilities {
  .grid-cols-dynamic {
    grid-template-columns: repeat(var(--columns, 1), minmax(0, 1fr));
  }
}
